<link rel="stylesheet" type="text/css" href="/css/stores/stores.css" />
<%- include("../layouts/required_input.ejs") %>
<div class="displaynone" id="storesCount"><%- totalCount -%></div>
<div id="content">
  <div class="filter_ct ct-shadow" id="filterCt">
    <div class="close_btn_ct" id="filterCloseBtnCt">
      <div class="close_btn">
        <i class="xi-drag-vertical"></i>
      </div>
    </div>
    <div class="filter_box">
      <div class="filter_section_ct">
        <div class="filter_section">
          <div class="filter_title">보기</div>
          <div class="area filter_area">
            <div class="limit_filter">
              <select id="storesLimit">
                <option value="10" <% if (params.limit === 10) { %>selected<% } %>>10개씩 보기</option>
                <option value="30" <% if (params.limit === 30) { %>selected<% } %>>30개씩 보기</option>
                <option value="50" <% if (params.limit === 50) { %>selected<% } %>>50개씩 보기</option>
                <option value="100" <% if (params.limit === 100) { %>selected<% } %>>100개씩 보기</option>
              </select>
            </div>
          </div>
        </div>
        <div class="filter_section">
          <div class="filter_title">정렬</div>
          <div class="area filter_area">
            <div class="align_filter">
              <select id="alignFilter">
                <option value="name" <% if (params.align === 'name') { %>selected<% } %>>이름</option>
                <option value="address" <% if (params.align === 'address') { %>selected<% } %>>주소</option>
                <option value="created" <% if (params.align === 'created') { %>selected<% } %>>생성일</option>
                <option value="exposed" <% if (params.align === 'exposed') { %>selected<% } %>>노출여부</option>
                <option value="distance" <% if (params.align === 'distance') { %>selected<% } %>>좌표설정여부</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-area">
        <div class="md-btn bg-success" id="filterSubmit">설정</div>
      </div>
    </div>
  </div>
  <div class="content-head">
    <div class="area">
      <div class="summary_area">
        <div class="summary_card bd-primary card">
          <div class="title c-black">총 매장</div>
          <div class="content c-black"><%- totalCount -%></div>
        </div>
        <div class="summary_card bd-l-primary card">
          <div class="title c-black">총 노출 매장</div>
          <div class="content c-black" id="activeCount"><%- activeCount -%></div>
        </div>
        <div class="summary_card bd-l2-primary card">
          <div class="title c-black">총 좌표설정 매장</div>
          <div class="content c-black" id="locationCount"><%- locationCount -%></div>
        </div>
      </div>
      <div class="mb-4">
        <div class="head_btn_area mb-3">
          <div class="active-btn bd-primary" id="storeCreateBtn">
            <a class="c-primary" href="/stores/store?type=c">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <g clip-path="url(#clip0_143_5)">
                  <path d="M16 4L12 0L2 10L0 16L6 14L16 4ZM4.8 11.6667L11.6667 4.8L12.9333 6.06667L6.06667 12.9333L4.8 11.6667ZM15.0667 4L13.4667 5.6L10.4 2.53333L12 0.933333L15.0667 4ZM9.93333 3.06667L11.2 4.33333L4.33333 11.2L3.06667 9.93333L9.93333 3.06667ZM1.06667 14.9333L1.6 13.4L2.66667 14.4667L1.06667 14.9333ZM3.33333 14.2L1.8 12.6667L2.53333 10.4L5.6 13.4667L3.33333 14.2Z" fill="#005F73"/>
                  <path d="M5.33325 15.3333H13.3333V16H5.33325V15.3333Z" fill="#005F73"/>
                  <path d="M14.6667 15.3333H16.0001V16H14.6667V15.3333Z" fill="#005F73"/>
                </g>
              </svg>
              매장 생성
            </a>
          </div>
          <div class="active-btn danger" id="coordSetBtn">
            <a class="c-danger" href="javascript:void();">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <g clip-path="url(#clip0_143_10)">
                  <path d="M7.5 12.5H8.5V15.5H7.5V12.5Z" fill="#FAE3E5"/>
                  <path d="M4 10.5V11.5H0.5V10.5H4Z" fill="#FAE3E5"/>
                  <path d="M8 0.5C7.00544 0.5 6.05161 0.895088 5.34835 1.59835C4.64509 2.30161 4.25 3.25544 4.25 4.25C4.25 6.321 8 11 8 11C8 11 11.75 6.321 11.75 4.25C11.75 3.25544 11.3549 2.30161 10.6517 1.59835C9.94839 0.895088 8.99456 0.5 8 0.5ZM8 6.25C7.60444 6.25 7.21776 6.1327 6.88886 5.91294C6.55996 5.69318 6.30362 5.38082 6.15224 5.01537C6.00087 4.64991 5.96126 4.24778 6.03843 3.85982C6.1156 3.47186 6.30608 3.11549 6.58579 2.83579C6.86549 2.55608 7.22186 2.3656 7.60982 2.28843C7.99778 2.21126 8.39991 2.25087 8.76537 2.40224C9.13082 2.55362 9.44318 2.80996 9.66294 3.13886C9.8827 3.46776 10 3.85444 10 4.25C10 4.78043 9.78929 5.28914 9.41421 5.66421C9.03914 6.03929 8.53043 6.25 8 6.25Z" fill="#FAE3E5"/>
                  <path d="M15.5 10.5V11.5H12V10.5H15.5Z" fill="#FAE3E5"/>
                  <path d="M15.5 10.25H14.3695C13.96 9.07025 12.5845 8.075 10.6847 7.58125C11.4047 6.372 12 5.11175 12 4.25C12 3.18913 11.5786 2.17172 10.8284 1.42157C10.0783 0.671427 9.06087 0.25 8 0.25C6.93913 0.25 5.92172 0.671427 5.17157 1.42157C4.42143 2.17172 4 3.18913 4 4.25C4 5.11175 4.59525 6.372 5.31525 7.58125C3.4155 8.075 2.04 9.07025 1.6305 10.25H0.5C0.433696 10.25 0.370107 10.2763 0.323223 10.3232C0.276339 10.3701 0.25 10.4337 0.25 10.5V11.5C0.25 11.5663 0.276339 11.6299 0.323223 11.6768C0.370107 11.7237 0.433696 11.75 0.5 11.75H1.6335C2.184 13.3453 4.4325 14.538 7.25 14.7222V15.5C7.25 15.5663 7.27634 15.6299 7.32322 15.6768C7.37011 15.7237 7.4337 15.75 7.5 15.75H8.5C8.5663 15.75 8.62989 15.7237 8.67678 15.6768C8.72366 15.6299 8.75 15.5663 8.75 15.5V14.7222C11.5675 14.538 13.816 13.3453 14.3665 11.75H15.5C15.5663 11.75 15.6299 11.7237 15.6768 11.6768C15.7237 11.6299 15.75 11.5663 15.75 11.5V10.5C15.75 10.4337 15.7237 10.3701 15.6768 10.3232C15.6299 10.2763 15.5663 10.25 15.5 10.25ZM13.8322 10.25H13.3C12.8555 9.43375 11.7022 8.7825 10.136 8.4605C10.2282 8.319 10.32 8.17475 10.411 8.029C12.1315 8.4435 13.3962 9.27025 13.8322 10.25ZM12 11.75H12.7C12.075 12.5222 10.5558 13.0962 8.75 13.2225V12.5C8.75 12.4337 8.72366 12.3701 8.67678 12.3232C8.62989 12.2763 8.5663 12.25 8.5 12.25H7.5C7.4337 12.25 7.37011 12.2763 7.32322 12.3232C7.27634 12.3701 7.25 12.4337 7.25 12.5V13.2222C5.4435 13.096 3.9235 12.5222 3.3 11.75H4C4.0663 11.75 4.12989 11.7237 4.17678 11.6768C4.22366 11.6299 4.25 11.5663 4.25 11.5V10.5C4.25 10.4337 4.22366 10.3701 4.17678 10.3232C4.12989 10.2763 4.0663 10.25 4 10.25H3.3015C3.79 9.64775 4.831 9.156 6.16375 8.9125C6.98225 10.1245 7.73625 11.0703 7.805 11.156C7.82843 11.1852 7.85811 11.2088 7.89186 11.225C7.92561 11.2411 7.96257 11.2496 8 11.2496C8.03743 11.2496 8.07439 11.2411 8.10814 11.225C8.14189 11.2088 8.17157 11.1852 8.195 11.156C8.26375 11.0703 9.01775 10.1245 9.83625 8.9125C11.148 9.1535 12.2033 9.6535 12.6955 10.25H12C11.9337 10.25 11.8701 10.2763 11.8232 10.3232C11.7763 10.3701 11.75 10.4337 11.75 10.5V11.5C11.75 11.5663 11.7763 11.6299 11.8232 11.6768C11.8701 11.7237 11.9337 11.75 12 11.75ZM8 0.75C8.92795 0.750993 9.81762 1.12006 10.4738 1.77622C11.1299 2.43238 11.499 3.32205 11.5 4.25C11.5 5.94525 8.763 9.6065 8 10.594C7.237 9.6065 4.5 5.94525 4.5 4.25C4.50099 3.32205 4.87006 2.43238 5.52622 1.77622C6.18238 1.12006 7.07205 0.750993 8 0.75ZM5.58875 8.029C5.68 8.17475 5.77175 8.319 5.86375 8.4605C4.29825 8.78225 3.14475 9.43375 2.7 10.25H2.16775C2.6035 9.2705 3.86825 8.4435 5.58875 8.029ZM0.75 10.75H3.75V11.25H0.75V10.75ZM2.167 11.75H2.70275C3.28 12.8053 5.056 13.577 7.25 13.723V14.2212C4.785 14.0512 2.74675 13.0525 2.167 11.75ZM8.25 15.25H7.75V12.75H8.25V15.25ZM8.75 14.2212V13.7233C10.944 13.5773 12.7202 12.8053 13.2972 11.75H13.833C13.2533 13.0525 11.215 14.0512 8.75 14.2212ZM15.25 11.25H12.25V10.75H15.25V11.25Z" fill="#B3404A"/>
                  <path d="M8.25 7V6.48525C8.75677 6.42792 9.22909 6.20034 9.58971 5.83971C9.95034 5.47909 10.1779 5.00677 10.2353 4.5H10.75V4H10.2353C10.1779 3.49323 9.95034 3.02091 9.58971 2.66029C9.22909 2.29966 8.75677 2.07208 8.25 2.01475V1.5H7.75V2.01475C7.24323 2.07208 6.77091 2.29966 6.41029 2.66029C6.04966 3.02091 5.82208 3.49323 5.76475 4H5.25V4.5H5.76475C5.82208 5.00677 6.04966 5.47909 6.41029 5.83971C6.77091 6.20034 7.24323 6.42792 7.75 6.48525V7H8.25ZM6.27 4.5H6.75V4H6.27C6.32427 3.62676 6.49766 3.28105 6.76435 3.01435C7.03105 2.74766 7.37676 2.57427 7.75 2.52V3H8.25V2.52C8.62324 2.57427 8.96895 2.74766 9.23565 3.01435C9.50234 3.28105 9.67573 3.62676 9.73 4H9.25V4.5H9.73C9.67573 4.87324 9.50234 5.21895 9.23565 5.48565C8.96895 5.75234 8.62324 5.92573 8.25 5.98V5.5H7.75V5.98C7.37676 5.92573 7.03105 5.75234 6.76435 5.48565C6.49766 5.21895 6.32427 4.87324 6.27 4.5Z" fill="#FF7777"/>
                </g>
              </svg>
              일괄 좌표 설정
            </a>
          </div>
          <style>

          </style>
          <% if (stores.length > 0) { %>
          <div class="drop_box" id="dropBox">
            <div class="drop_menu_btn" id="dropMenuBtn">
              <img src="/icons/arrow_up.svg" />
            </div>
            <ul class="drop_menus">
              <li class="drop_menu export_excel_btn" id="exportExcelBtn">
                  엑셀로 내보내기
              </li>
              <li class="drop_menu activate_all_btn" id="activateAllBtn">
                  모든 스토어 활성화
              </li>
              <li class="drop_menu delete_all_btn" id="deleteAllBtn">
                  모든 스토어 삭제
              </li>
            </ul>
          </div>
          <% } %>
        </div>
        <div> 
            <% if (stores.length > 0) { %>
            <div class="area filter_btn_ct">
              <div id="filterBtn">
                <svg class="filter_icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M0 0V2.94L6.31605 9.35V16L9.68395 13.86V9.34L16 2.93V0H0ZM15.0506 0.94V2.28H0.939413V0.94H15.0506ZM8.73454 8.97V13.35L7.24547 14.3V8.97L1.58901 3.21H14.401L8.73454 8.96V8.97Z" fill="#907159"/>
                </svg>
                Filter
              </div>
            </div>
            <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="store_table">
    <div class="table-head">
      <div class="check_btn_area">
        <input class="check_btn" id="allCheckBtn" type="checkbox" />
      </div>
      <div class="name">
        <span><i class="xi-shop mr-2"></i>매장명</span>
      </div>
      <div class="addr">
        <span><i class="xi-map-o mr-2"></i>매장주소</span>
      </div>
      <div class="use_status">
        <span><i class="xi-eye mr-2"></i>노출여부</span>
      </div>
      <div class="coord">
        <span><i class="xi-maker mr-2"></i>좌표설정</span>
      </div>
    </div>
    <% if (stores.length > 0) { %>
      <div id="stores">
        <% for(var i = 0; i < stores.length; i++){ %>
          <div class="store <% if (stores[i].use_status === true) { %> use <% } %>" id="<%- stores[i]._id %>">
            <div class="check_btn_area">
              <input class="check_btn" type="checkbox" />
            </div>
            <a class="name" href="/stores/store/<%- stores[i]._id %>?type=u">
              <div class="store_name"><%- stores[i].name %></div>
            </a>
            <a class="addr" href="/stores/store/<%- stores[i]._id %>?type=u">
              <div class="store_addr"><%- stores[i].address %></div>
            </a>
            <div class="use_status switch_ct">
              <div class="icon <% if (stores[i].use_status === true) { %> on <% } else { %> off <% } %>" data-store-id="<%- stores[i]._id %>"></div>
            </div>
            <div class="coord">
              <div class="icon <% if (stores[i].latitude && stores[i].longitude){ %> on <% } else { %> off <% } %>" data-store-id="<%- stores[i]._id %>"></div>
            </div>
          </div>
        <% } %>
        <div class="btn_area_ct card">
          <div id="btnMenu"><i class="xi xi-apps"></i></div>
          <div class="btn-area" id="actionMenuBox">
            <div id="checkedDeleteBtn" class="card">삭제</div>
            <div id="checkedUseStatusOnBtn" class="card">노출</div>
            <div id="checkedUseStatusOffBtn" class="card">비노출</div>
          </div>
        </div>
      </div>
    <% } else { %>
      <div class="emtpy_store_ct">
        <div class="emtpy_store">
          <img src="/icons/empty_box.svg" alt="빈상자 아이콘">
          <span>등록된 매장이 존재하지 않습니다.</span>
        </div>
      </div>
    <% } %>
  </div>
  <div class="pagination">
    <% if (pagination.currentPage > 1) { %>
    <div class="previous page_arrow">
      <a href="?page=<%- pagination.prevPage %>">
        <img src="/icons/arrow_prev_black.svg" alt="이전페이지" />
      </a>
    </div>
    <% } %>

    <% for (var page = pagination.startPage; page <= pagination.endPage; page++) { %>
    <div
      class="page <% if (page === pagination.currentPage) { %> active <% } %>"
    >
      <a href="?page=<%- page %>"><%- page %></a>
    </div>
    <% } %>

    <% if (pagination.currentPage < pagination.totalPage) { %>
    <div class="next page_arrow">
      <a href="?page=<%- pagination.nextPage %>">
        <img src="/icons/arrow_next_black.svg" alt="다음페이지" />
      </a>
    </div>
    <% } %>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js" ></script>
<script src="/js/stores/stores.js" defer></script>
