<link rel="stylesheet" type="text/css" href="/css/stores/store.css" />

<% if (type === "c") { %>
<div id="excelUploadModalBg">
  <div id="excelUploadModal">
    <div id="createWithExcelBtn">
      <label for="excelUploadBtn">Excel 파일 업로드</label>
      <input
        id="excelUploadBtn"
        name="file"
        type="file"
        enctype="multipart/form-data"
      />
    </div>
    <div class="switch_ct" id="useStatusCt">
      <div>
        <span>노출여부</span>
        <div>
          <input class="switch_input" id="excelUseStatus" type="checkbox" />
          <label class="switch_label" for="excelUseStatus"></label>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
<div id="content">
  <div class="content-head">
    <div class="area">
      <div class="title"><span>매장생성</span></div>
      <% if (type === "c") { %>
      <div class="excel_btn_area">
        <div id="excelBtnCt">
          <div class="create_btn" id="excelModalBtn">엑셀로 생성</div>
        </div>
        <div id="smapleExcelDwldBtn">
          <div class="sample_dwld_btn">
            <a href="/files/excel_sample.xlsx" download="">샘플 다운로드</a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <div class="store_ct">
    <div class="left">
      <div class="store" id="<%- store._id %>">
        <div>
          <div class="text-field">
            <input type="text" id="storeName" value="<%- store.name %>" />
            <label for="storeName">매장명</label>
          </div>
        </div>
        <div>
          <div class="text-field">
            <input type="text" id="storeAddr" value="<%- store.address %>" />
            <label for="storeAddr">매장주소</label>
          </div>
        </div>
        <div id="latLongCt" class="displaynone">
          <% if (type === "u") { %>
          <div class="text-field lat_field">
            <input
              type="text"
              id="latitude"
              value="<%- store.latitude %>"
              disabled
            />
            <label for="storeAddr">위도</label>
          </div>
          <div class="text-field long_field">
            <input
              type="text"
              id="longitude"
              value="<%- store.longitude %>"
              disabled
            />
            <label for="storeAddr">경도</label>
          </div>
          <% } %>
        </div>
        <div>
          <label for="storeUseStatus">노출여부</label>
          <% if (store.useStatus === true) { %>
          <input type="checkbox" id="storeUseStatus" checked />
          <% } else { %>
          <input type="checkbox" id="storeUseStatus" />
          <% } %>
        </div>

        <div class="btn_area">
          <% if (store._id) { %>
          <div class="md-btn bg-danger" id="deleteBtn">삭제</div>
          <div class="md-btn bg-primary" id="submitBtn">
            <% if (type === "c") { %>
            <span>생성</span>
            <% } else { %>
            <span>수정</span>
            <% } %>
          </div>
          <% } else { %>
          <div class="md-btn bg-primary" id="submitBtn">추가</div>
          <% } %>
          <div class="md-btn bg-white" id="cancelBtn">
            <a href="/stores">취소</a>
          </div>
        </div>
      </div>
    </div>
    <div class="right"></div>
  </div>
</div>

<script src="/js/stores/store.js"></script>
