<link rel="stylesheet" type="text/css" href="/css/stores/stores.css" />
<div id="content">
  <div class="filter_ct ct-shadow" id="filterCt">
    <div class="close_btn_ct" id="filterCloseBtnCt">
      <div class="close_btn">
        <i class="xi-drag-vertical"></i>
      </div>
    </div>
    <div class="filter_box">
      <div class="filter_section_ct">
        <div class="filter_section">
          <div class="filter_title">보기</div>
          <div class="area filter_area">
            <div class="limit_filter">
              <select id="storesLimit">
                <option value="10" <% if (params.limit === 10) { %>selected<% } %>>10개씩 보기</option>
                <option value="30" <% if (params.limit === 30) { %>selected<% } %>>30개씩 보기</option>
                <option value="50" <% if (params.limit === 50) { %>selected<% } %>>50개씩 보기</option>
                <option value="100" <% if (params.limit === 100) { %>selected<% } %>>100개씩 보기</option>
              </select>
            </div>
          </div>
        </div>
        <div class="filter_section">
          <div class="filter_title">정렬</div>
          <div class="area filter_area">
            <div class="align_filter">
              <select id="alignFilter">
                <option value="name" <% if (params.align === 'name') { %>selected<% } %>>이름</option>
                <option value="address" <% if (params.align === 'address') { %>selected<% } %>>주소</option>
                <option value="created" <% if (params.align === 'created') { %>selected<% } %>>생성일</option>
                <option value="exposed" <% if (params.align === 'exposed') { %>selected<% } %>>노출여부</option>
                <option value="distance" <% if (params.align === 'distance') { %>selected<% } %>>좌표설정</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-area">
        <div class="md-btn bg-success" id="filterSubmit">설정</div>
      </div>
    </div>
  </div>
  <div class="content-head">
    <div class="area">
      <div class="page_title">
        <div class="title_ct">
          <span class="title">STORE MANAGEMENT</span>
          <span class="sub_title">매장 관리 페이지</span>
        </div>
        <div class="store_count count">
          <span id="storeCount">
            <%- totalCount %>
          </span>
        </div>
      </div>
      <div>
        <div class="head_btn_area">
          <div class="active-btn success" id="storeCreateBtn">
            <a class="c-success" href="/stores/store?type=c">
              <img class="icon_pencil mr-2" src="/icons/pencil.svg" alt="">
              <!-- <i class="c-success xi-pen mr-2"></i> -->
              매장 생성
            </a>
          </div>
          <div class="active-btn danger" id="coordSetBtn">
            <a class="c-danger" href="javascript:void();">
              <img class="icon_target_location mr-2" src="/icons/location.svg" alt="">
              일괄 좌표 설정
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-4"> 
      <% if (stores.length > 0) { %>
      <div class="area filter_btn_ct">
        <div id="filterBtn">
          <img class="filter_icon" src="/icons/filter.svg" alt="필터아이콘">
          Filter
        </div>
      </div>
      <% } %>
  </div>
  <div class="store_table">
    <div class="table-head">
      <div class="check_btn_area">
        <input id="allCheckBtn" type="checkbox" />
      </div>
      <div class="name">
        <span><i class="xi-shop mr-2"></i>매장명</span>
      </div>
      <div class="addr">
        <span><i class="xi-map-o mr-2"></i>매장주소</span>
      </div>
      <div class="use_status">
        <span><i class="xi-eye mr-2"></i>노출여부</span>
      </div>
      <div class="coord">
        <span><i class="xi-maker mr-2"></i>좌표설정</span>
      </div>
    </div>
    <% if (stores.length > 0) { %>
      <div id="stores">
        <% for(var i = 0; i < stores.length; i++){ %>
          <div class="store <% if (stores[i].useStatus === true) { %> use <% } %>" id="<%- stores[i]._id %>">
            <div class="check_btn_area">
              <input class="check_btn" type="checkbox" />
            </div>
            <a class="name" href="/stores/store/<%- stores[i]._id %>?type=u">
              <div class="store_name"><%- stores[i].name %></div>
            </a>
            <a class="addr" href="/stores/store/<%- stores[i]._id %>?type=u">
              <div class="store_addr"><%- stores[i].address %></div>
            </a>
            <div class="use_status switch_ct">
              <div class="icon <% if (stores[i].useStatus === true) { %> on <% } else { %> off <% } %>"></div>
            </div>
            <div class="coord">
              <div class="icon <% if (stores[i].latitude && stores[i].longitude){ %> on <% } else { %> off <% } %>"></div>
            </div>
          </div>
        <% } %>
        <div class="btn_area_ct card">
          <div id="btnMenu"><i class="xi xi-apps"></i></div>
          <div class="btn-area">
            <div id="checkedDeleteBtn" class="card">삭제</div>
            <div id="checkedUseStatusOnBtn" class="card">노출</div>
            <div id="checkedUseStatusOffBtn" class="card">비노출</div>
          </div>
        </div>
      </div>
    <% } else { %>
      <div class="emtpy_store_ct">
        <div class="emtpy_store">
          <img src="/icons/empty_box.svg" alt="빈상자 아이콘">
          <span>등록된 매장이 존재하지 않습니다.</span>
        </div>
      </div>
    <% } %>
  </div>
  <div class="pagination">
    <% if (pagination.currentPage > 1) { %>
    <div class="previous page_arrow">
      <a href="?page=<%- pagination.prevPage %>">
        <img src="/icons/arrow_prev_black.svg" alt="이전페이지" />
      </a>
    </div>
    <% } %>

    <% for (var page = pagination.startPage; page <= pagination.endPage; page++) { %>
    <div
      class="page <% if (page === pagination.currentPage) { %> active <% } %>"
    >
      <a href="?page=<%- page %>"><%- page %></a>
    </div>
    <% } %>

    <% if (pagination.currentPage < pagination.totalPage) { %>
    <div class="next page_arrow">
      <a href="?page=<%- pagination.nextPage %>">
        <img src="/icons/arrow_next_black.svg" alt="다음페이지" />
      </a>
    </div>
    <% } %>
  </div>
</div>

<script src="/js/stores/stores.js"></script>
