<link rel="stylesheet" type="text/css" href="/css/stores/stores.css" />
<div id="content">
  <div class="content-head">
    <div class="area">
      <div class="title">
        <span>매장관리</span>
        <span id="storeCount">
          (
          <%- totalCount %>
          )
        </span>
      </div>
      <div>
        <div class="head_btn_area">
          <div class="create-btn" id="storeCreateBtn">
            <a href="/stores/store?type=c">매장 생성</a>
          </div>
          <div id="coordSetBtn">
            <span>좌표 설정</span>
          </div>
        </div>
      </div>
    </div>
    <div class="area">
      <div></div>
    </div>
  </div>
  <div class="store_table">
    <div class="table-head">
      <div class="check_btn_area">
        <input id="allCheckBtn" type="checkbox" />
      </div>
      <div class="name">
        <span>매장명</span>
      </div>
      <div class="addr">
        <span>매장주소</span>
      </div>
      <div class="use_status">
        <span>노출여부</span>
      </div>
      <div class="coord">
        <span>좌표설정</span>
      </div>
    </div>

    <div id="stores">
      <% for(var i = 0; i < stores.length; i++){ %>
      <div class="store" id="<%- stores[i]._id %>">
        <div class="check_btn_area">
          <input class="check_btn" type="checkbox" />
        </div>
        <a class="name" href="/stores/store/<%- stores[i]._id %>?type=u">
          <div class="store_name"><%- stores[i].name %></div>
        </a>
        <a class="addr" href="/stores/store/<%- stores[i]._id %>?type=u">
          <div class="store_addr"><%- stores[i].address %></div>
        </a>
        <% if (stores[i].useStatus === true) { %>
        <div class="use_status on"><%- stores[i].useStatus %></div>
        <% } else { %>
        <div class="use_status off"><%- stores[i].useStatus %></div>
        <% } %>

        <% if (stores[i].latitude && stores[i].longitude){ %>
        <div class="coord on">true</div>
        <% } else { %>
        <div class="coord off">false</div>
        <% } %>
      </div>
      <% } %>
      <% if (stores.length > 0) { %>
      <div class="btn-area">
        <div id="deleteBtn">삭제</div>
      </div>
      <% } %>
    </div>
  </div>
  <div class="pagination">
    <% if (pagination.currentPage > 1) { %>
    <div class="previous page_arrow">
      <a href="?page=<%- pagination.prevPage %>">
        <img src="/icons/arrow_prev_black.svg" alt="이전페이지" />
      </a>
    </div>
    <% } %>

    <% for (var page = pagination.startPage; page <= pagination.endPage; page++) { %>
    <div
      class="page <% if (page === pagination.currentPage) { %> active <% } %>"
    >
      <a href="?page=<%- page %>"><%- page %></a>
    </div>
    <% } %>

    <% if (pagination.currentPage < pagination.totalPage) { %>
    <div class="next page_arrow">
      <a href="?page=<%- pagination.nextPage %>">
        <img src="/icons/arrow_next_black.svg" alt="다음페이지" />
      </a>
    </div>
    <% } %>
  </div>
</div>

<script src="/js/stores/stores.js"></script>
