<link rel="stylesheet" type="text/css" href="/css/stores/store.css" />

<% if (type === "c") { %>
<!-- 스토어 생성 페이지 일 때 -->
<div id="excelUploadModalBg">
  <div id="excelUploadModal">
    <div id="createWithExcelBtn">
      <label class="active-btn" for="excelUploadBtn">
        <img class="icon_upload" src="/icons/upload.svg" alt="엑셀 이미지" />
        <div>Upload</div>
      </label>
      <input id="excelUploadBtn" name="file" type="file" enctype="multipart/form-data" />
    </div>
    <div class="description_ct">
      <div class="description">
        <span class="circle">*</span>
        파일 형식은 샘플 내용에 맞춰서 작성해야 합니다.
      </div>
    </div>
    <!-- <div class="switch_ct" id="useStatusCt">
      <div>
        <img class="eye_icon" src="/icons/eye.svg" alt="눈 이미지" />
        <span>노출여부</span>
        <div>
          <input class="switch_input" id="excelUseStatus" type="checkbox" />
          <label class="switch_label" for="excelUseStatus"></label>
        </div>
      </div>
    </div> -->
  </div>
</div>
<% } %>
<% if (type === "u") { %>
<div class="add_store_user_modal displaynone" id="addStoreUserModal">
  <div class="add_store_user_area card">
    <div class="title">
      <%- store.name -%>
    </div>
    <form>
      <div class="text-field">
        <input type="text" id="storeUserID" placeholder="영문과 숫자만 입력해주세요" />
        <label for="storeUserID">매장 관리자 아이디</label>
      </div>
      <div class="text-field">
        <input type="password" id="storeUserPW" placeholder="비밀번호" />
        <label for="storeUserPW">매장 관리자 비밀번호</label>
      </div>

      <div class="md-btn bg-primary" id="addStoreUserBtn">관리자 생성</div>
    </form>
  </div>
</div>
<% } %>
<div id="content">
  <div class="content-head">
    <div class="area">
      <div class="page_title">
        <div class="title_ct">
          <div class="title">
            STORES MANAGEMENT
            <% if (type === "u" ) { %>
            <% if (!store.store_user) { %>
            <div class="add_user_modal_btn" id="addUserModalBtn">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <g clip-path="url(#clip0_135_865)">
                  <path
                    d="M8 8C5.792 8 4 6.208 4 4C4 1.792 5.792 0 8 0C10.208 0 12 1.792 12 4C12 6.208 10.208 8 8 8ZM8 0.728C6.192 0.728 4.728 2.2 4.728 4C4.728 5.8 6.2 7.272 8 7.272C9.8 7.272 11.272 5.8 11.272 4C11.272 2.2 9.808 0.728 8 0.728Z"
                    fill="#040000"
                  />
                  <path
                    d="M9.6 10.544C9.088 10.424 8.552 10.368 8 10.368C4.008 10.368 0.76 12.016 0.76 16.008H0C0 11.6 3.592 9.60797 8 9.60797C8.544 9.60797 9.08 9.66397 9.6 9.76797"
                    fill="#040000"
                  />
                  <path d="M14.0002 8.79999H13.2002V13.6H14.0002V8.79999Z" fill="#040000" />
                  <path d="M11.2002 10.8V11.6H16.0002V10.8H11.2002Z" fill="#040000" />
                </g>
                <defs>
                  <clipPath id="clip0_135_865">
                    <rect width="16" height="16" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <span>관리자 생성</span>
            </div>
            <% } else { %>
            <a href="/users/storeuser/<%- store._id -%>">
              <svg
                class="ml-2 exist_user"
                id="existUser"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                viewBox="0 0 30 30"
                fill="none"
              >
                <g clip-path="url(#clip0_212_13)">
                  <path
                    d="M30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30C23.2843 30 30 23.2843 30 15Z"
                    fill="#4DB994"
                  />
                  <path
                    d="M15.0001 14.74C14.1801 14.74 13.3701 14.43 12.7201 13.81C11.5801 12.72 10.5201 10.77 10.7401 8.88001C10.7901 8.41001 10.9201 7.71001 11.4401 7.01001C12.2901 5.87001 13.5801 5.21001 14.9801 5.20001H14.9901C16.3901 5.20001 17.6901 5.86001 18.5601 7.00001C19.0801 7.70001 19.2101 8.37001 19.2701 8.88001V8.90001C19.4301 10.56 18.6301 12.53 17.2801 13.81C16.6301 14.43 15.8101 14.74 15.0001 14.74ZM15.0001 7.38001C14.3001 7.38001 13.6401 7.72001 13.2101 8.31001C13.0501 8.53001 12.9701 8.76001 12.9301 9.12001C12.8101 10.21 13.5001 11.51 14.2501 12.23C14.7101 12.67 15.3401 12.67 15.8001 12.23C16.6601 11.41 17.2101 10.11 17.1201 9.11001C17.0801 8.75001 17.0001 8.53001 16.8401 8.31001C16.4001 7.72001 15.7301 7.38001 15.0201 7.38001H15.0001Z"
                    fill="white"
                  />
                  <path
                    d="M18.7602 24.8H11.2402C9.5602 24.8 8.2002 23.43 8.2002 21.76V21.2C8.2002 19.46 9.0102 17.89 10.3702 17C11.1902 16.46 12.1402 16.18 13.1202 16.18H16.8902C17.8702 16.18 18.8202 16.46 19.6402 17C21.0002 17.89 21.8102 19.46 21.8102 21.2V21.76C21.8102 23.44 20.4402 24.8 18.7702 24.8H18.7602ZM13.1202 18.35C12.5702 18.35 12.0302 18.51 11.5702 18.81C10.8402 19.29 10.3902 20.2 10.3902 21.19V21.75C10.3902 22.22 10.7802 22.61 11.2502 22.61H18.7702C19.2402 22.61 19.6302 22.22 19.6302 21.75V21.19C19.6302 20.2 19.1802 19.29 18.4502 18.81C17.9902 18.51 17.4502 18.35 16.9002 18.35H13.1302H13.1202Z"
                    fill="white"
                  />
                </g>
              </svg>
            </a>
            <% } %>
            <% } %>
          </div>
          <div class="sub_title">매장 관리 페이지</div>
        </div>
      </div>
      <% if (type === "c") { %>
      <!-- 스토어 생성 페이지 일 때 -->
      <div class="excel_btn_area">
        <div class="create_btn active-btn bd-excel" id="excelModalBtn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <g clip-path="url(#clip0_143_18)">
              <path
                d="M15.5 13.5003H8.5C8.224 13.5003 8 13.2763 8 13.0003C8 12.7243 8 3.27634 8 3.00034C8 2.72434 8.224 2.50034 8.5 2.50034H15.5C15.776 2.50034 16 2.72434 16 3.00034V13.0003C16 13.2763 15.776 13.5003 15.5 13.5003Z"
                fill="#ECEFF1"
              />
              <path
                d="M10.5 5.50034H8.5C8.224 5.50034 8 5.27634 8 5.00034C8 4.72434 8.224 4.50034 8.5 4.50034H10.5C10.776 4.50034 11 4.72434 11 5.00034C11 5.27634 10.776 5.50034 10.5 5.50034Z"
                fill="#388E3C"
              />
              <path
                d="M10.5 7.50034H8.5C8.224 7.50034 8 7.27634 8 7.00034C8 6.72434 8.224 6.50034 8.5 6.50034H10.5C10.776 6.50034 11 6.72434 11 7.00034C11 7.27634 10.776 7.50034 10.5 7.50034Z"
                fill="#388E3C"
              />
              <path
                d="M10.5 9.50034H8.5C8.224 9.50034 8 9.27634 8 9.00034C8 8.72434 8.224 8.50034 8.5 8.50034H10.5C10.776 8.50034 11 8.72434 11 9.00034C11 9.27634 10.776 9.50034 10.5 9.50034Z"
                fill="#388E3C"
              />
              <path
                d="M10.5 11.5003H8.5C8.224 11.5003 8 11.2763 8 11.0003C8 10.7243 8.224 10.5003 8.5 10.5003H10.5C10.776 10.5003 11 10.7243 11 11.0003C11 11.2763 10.776 11.5003 10.5 11.5003Z"
                fill="#388E3C"
              />
              <path
                d="M13.5 5.50034H12.5C12.224 5.50034 12 5.27634 12 5.00034C12 4.72434 12.224 4.50034 12.5 4.50034H13.5C13.776 4.50034 14 4.72434 14 5.00034C14 5.27634 13.776 5.50034 13.5 5.50034Z"
                fill="#388E3C"
              />
              <path
                d="M13.5 7.50034H12.5C12.224 7.50034 12 7.27634 12 7.00034C12 6.72434 12.224 6.50034 12.5 6.50034H13.5C13.776 6.50034 14 6.72434 14 7.00034C14 7.27634 13.776 7.50034 13.5 7.50034Z"
                fill="#388E3C"
              />
              <path
                d="M13.5 9.50034H12.5C12.224 9.50034 12 9.27634 12 9.00034C12 8.72434 12.224 8.50034 12.5 8.50034H13.5C13.776 8.50034 14 8.72434 14 9.00034C14 9.27634 13.776 9.50034 13.5 9.50034Z"
                fill="#388E3C"
              />
              <path
                d="M13.5 11.5003H12.5C12.224 11.5003 12 11.2763 12 11.0003C12 10.7243 12.224 10.5003 12.5 10.5003H13.5C13.776 10.5003 14 10.7243 14 11.0003C14 11.2763 13.776 11.5003 13.5 11.5003Z"
                fill="#388E3C"
              />
              <path
                d="M8.819 0.615338C8.705 0.520338 8.552 0.479338 8.408 0.509338L0.408 2.00934C0.171 2.05334 0 2.25934 0 2.50034V13.5003C0 13.7403 0.171 13.9473 0.408 13.9913L8.408 15.4913C8.438 15.4973 8.469 15.5003 8.5 15.5003C8.616 15.5003 8.729 15.4603 8.819 15.3853C8.934 15.2903 9 15.1483 9 15.0003V1.00034C9 0.851338 8.934 0.710338 8.819 0.615338Z"
                fill="#1D6F42"
              />
              <path
                d="M6.87603 9.67134L5.29503 7.86434L6.89403 5.80834C7.06403 5.59034 7.02403 5.27634 6.80703 5.10634C6.59003 4.93634 6.27603 4.97634 6.10503 5.19334L4.62403 7.09734L3.37603 5.67134C3.19303 5.46134 2.87703 5.44234 2.67103 5.62434C2.46303 5.80634 2.44203 6.12234 2.62403 6.32934L3.99903 7.90134L2.60503 9.69334C2.43503 9.91134 2.47503 10.2253 2.69203 10.3953C2.78403 10.4663 2.89303 10.5003 3.00003 10.5003C3.14903 10.5003 3.29603 10.4343 3.39503 10.3073L4.67003 8.66734L6.12403 10.3283C6.22303 10.4423 6.36103 10.5003 6.50003 10.5003C6.61703 10.5003 6.73403 10.4593 6.82903 10.3763C7.03703 10.1943 7.05803 9.87834 6.87603 9.67134Z"
                fill="#FAFAFA"
              />
            </g>
          </svg>
          엑셀로 생성
        </div>
        <div class="sample_dwld_btn bd-black active-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path
              d="M14.055 3.36193L13.8423 3.14924L11.0575 0.364414L10.8448 0.151724C10.7486 0.0554483 10.615 0 10.4785 0H2.47242C2.14524 0 1.79297 0.25269 1.79297 0.807172V10.7586V15.3206V15.4483C1.79297 15.6792 2.02524 15.9043 2.3 15.9752C2.3138 15.9788 2.32704 15.984 2.34138 15.9868C2.38442 15.9953 2.42828 16 2.47242 16H13.5273C13.5715 16 13.6153 15.9953 13.6583 15.9868C13.6727 15.984 13.6859 15.9788 13.6997 15.9752C13.9745 15.9043 14.2068 15.6792 14.2068 15.4483V15.3206V10.7586V3.856C14.2068 3.64441 14.1814 3.48828 14.055 3.36193ZM13.2233 3.31034H10.8964V0.983448L13.2233 3.31034ZM2.47242 15.4483C2.45283 15.4483 2.43518 15.4411 2.4178 15.4348C2.37476 15.4143 2.34469 15.3713 2.34469 15.3206V11.3103H13.655V15.3206C13.655 15.3713 13.625 15.4141 13.5819 15.4348C13.5646 15.4411 13.5469 15.4483 13.5273 15.4483H2.47242ZM2.34469 10.7586V0.807172C2.34469 0.74731 2.3538 0.551724 2.47242 0.551724H10.3607C10.3516 0.586483 10.3447 0.622345 10.3447 0.659586V3.86207H13.5472C13.5844 3.86207 13.62 3.85517 13.6548 3.84607C13.6548 3.85021 13.655 3.85186 13.655 3.856V10.7586H2.34469Z"
              fill="black"
            />
            <path
              d="M6.13124 12.1169L5.59938 13.2483H5.56158L5.07138 12.1169H4.55469L5.30503 13.5462L4.59993 14.8965H5.12407L5.59938 13.848H5.63717L6.07827 14.8965H6.60269L5.89731 13.5462L6.64793 12.1169H6.13124Z"
              fill="black"
            />
            <path d="M7.73406 12.1169H7.27393V14.8965H9.01268V14.5534H7.73406V12.1169Z" fill="black" />
            <path
              d="M10.7417 13.5349C10.6551 13.472 10.5613 13.4185 10.4606 13.3746C10.3599 13.3308 10.267 13.2855 10.1814 13.2389C10.0959 13.1923 10.0242 13.1385 9.96654 13.0767C9.90861 13.0149 9.87992 12.9338 9.87992 12.8334C9.87992 12.7931 9.88985 12.7509 9.90998 12.7071C9.93012 12.6632 9.95771 12.6235 9.99302 12.5882C10.0281 12.5529 10.0683 12.5236 10.1138 12.4996C10.1594 12.4756 10.2068 12.4613 10.2573 12.4563C10.3478 12.4489 10.422 12.4475 10.4799 12.4524C10.5376 12.4577 10.5842 12.4662 10.6195 12.4789C10.6545 12.4916 10.6818 12.504 10.7006 12.5167C10.7194 12.5294 10.7365 12.5393 10.7516 12.5468C10.7541 12.5443 10.7616 12.5316 10.7743 12.509C10.7867 12.4864 10.8018 12.458 10.8195 12.424C10.8369 12.3901 10.8559 12.3537 10.8761 12.3148C10.8962 12.2756 10.9138 12.24 10.9287 12.2072C10.8556 12.1595 10.7602 12.1247 10.6421 12.1035C10.5238 12.0822 10.4068 12.0715 10.2915 12.0715C10.1784 12.0715 10.0708 12.0889 9.96902 12.1242C9.86723 12.1595 9.77785 12.2105 9.70116 12.277C9.62447 12.3435 9.5635 12.4246 9.51826 12.5203C9.47302 12.616 9.4504 12.7253 9.4504 12.8483C9.4504 12.984 9.47909 13.0971 9.53702 13.1876C9.59468 13.2781 9.66778 13.3567 9.75578 13.4232C9.84378 13.4897 9.93812 13.5476 10.0385 13.5967C10.139 13.6458 10.2327 13.6946 10.3196 13.7437C10.4065 13.7929 10.4785 13.8475 10.5365 13.9079C10.5941 13.9683 10.6231 14.0411 10.6231 14.1266C10.6231 14.2676 10.5823 14.3738 10.5006 14.4453C10.419 14.517 10.3012 14.5529 10.1481 14.5529C10.0976 14.5529 10.0438 14.5476 9.98585 14.5377C9.92792 14.5277 9.87026 14.5145 9.81233 14.498C9.7544 14.4814 9.6984 14.464 9.64461 14.4453C9.59054 14.4265 9.54585 14.4069 9.51081 14.3868L9.43164 14.7112C9.4744 14.749 9.52516 14.781 9.58447 14.8075C9.6435 14.834 9.70557 14.8546 9.77123 14.8698C9.83661 14.885 9.90143 14.8957 9.96543 14.9018C10.0294 14.9079 10.0918 14.9112 10.1522 14.9112C10.2929 14.9112 10.4187 14.89 10.5293 14.8472C10.6399 14.8044 10.7329 14.7473 10.8085 14.6756C10.8841 14.6039 10.9423 14.5209 10.9839 14.4268C11.0256 14.3327 11.0463 14.2351 11.0463 14.1344C11.0463 13.986 11.0173 13.8646 10.9596 13.7705C10.9009 13.6764 10.8286 13.5978 10.7417 13.5349Z"
              fill="black"
            />
            <path
              d="M6.75859 3.58618H3.44824V4.68963V5.24135V5.79308V6.3448V6.89653V7.44825V7.99997V8.5517V9.65515H6.20686H6.75859H12.5517V8.5517V7.99997V7.44825V6.89653V6.3448V5.79308V4.68963H6.75859V3.58618ZM3.99997 5.24135H6.20686V5.79308H3.99997V5.24135ZM3.99997 6.3448H6.20686V6.89653H3.99997V6.3448ZM3.99997 7.44825H6.20686V7.99997H3.99997V7.44825ZM6.20686 9.10342H3.99997V8.5517H6.20686V9.10342ZM12 9.10342H6.75859V8.5517H12V9.10342ZM12 7.99997H6.75859V7.44825H12V7.99997ZM12 6.89653H6.75859V6.3448H12V6.89653ZM12 5.24135V5.79308H6.75859V5.24135H12ZM3.99997 4.68963V4.13791H6.20686V4.68963H3.99997Z"
              fill="black"
            />
          </svg>
          <a href="/files/excel_sample.xlsx" download="">샘플 다운로드</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <div class="store_ct">
    <div class="left card">
      <div class="store" id="<%- store._id %>">
        <div>
          <div class="text-field">
            <input type="text" id="storeName" value="<%- store.name %>" />
            <label for="storeName">매장명</label>
          </div>
        </div>
        <div>
          <div class="text-field">
            <input type="text" id="storeAddr" value="<%- store.address %>" />
            <label for="storeAddr">매장주소</label>
          </div>
        </div>
        <div id="latLongCt" class="displaynone">
          <% if (type === "u") { %>
          <div class="text-field lat_field">
            <input type="text" id="latitude" value="<%- store.latitude %>" disabled />
            <label for="storeAddr">위도</label>
          </div>
          <div class="text-field long_field">
            <input type="text" id="longitude" value="<%- store.longitude %>" disabled />
            <label for="storeAddr">경도</label>
          </div>
          <% } %>
        </div>
        <!-- <div class="switch_ct">
          <div>
            <img class="eye_icon" src="/icons/eye.svg" alt="눈 이미지" />
            <span>노출여부</span>
            <% if (store.useStatus === true) { %>
            <input class="switch_input" type="checkbox" id="storeUseStatus" checked />
            <% } else { %>
            <input class="switch_input" type="checkbox" id="storeUseStatus" />
            <% } %>
            <label class="switch_label" for="storeUseStatus"></label>
          </div>
        </div> -->

        <div class="btn_area">
          <% if (store._id) { %>
          <div class="md-btn" id="deleteBtn">스토어 삭제</div>
          <div class="md-btn bg-primary" id="submitBtn">
            <% if (type === "c") { %>
            생성
            <% } else { %>
            수정
            <% } %>
          </div>
          <% } else { %>
          <div class="md-btn bg-success" id="submitBtn">추가</div>
          <% } %>
        </div>
      </div>
    </div>
    <% if (type === "u" && inventory.length > 0) { %>
    <div class="right product_ct card">
      <div class="title">
        <div class="align-center">
          <span>상품 재고 설정</span>
          <div class="notice_area">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <g clip-path="url(#clip0_224_17)">
                <path
                  d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16Z"
                  fill="#F25A5A"
                />
                <path
                  d="M4.49171 7.41168C4.48827 7.02726 4.56145 6.64601 4.70697 6.29018C4.8525 5.93436 5.06746 5.61109 5.33929 5.33926C5.61113 5.06742 5.93439 4.85247 6.29022 4.70694C6.64604 4.56142 7.02729 4.48824 7.41171 4.49168C7.7965 4.48764 8.17823 4.56038 8.53457 4.70564C8.89091 4.8509 9.21471 5.06576 9.48701 5.33766C9.75932 5.60955 9.97468 5.93302 10.1205 6.28914C10.2663 6.64526 10.3396 7.02688 10.3362 7.41168C10.3402 7.79684 10.2673 8.17894 10.1218 8.53558C9.97624 8.89221 9.76098 9.21621 9.48861 9.48858C9.21625 9.76095 8.89225 9.97621 8.53561 10.1217C8.17898 10.2673 7.79688 10.3402 7.41171 10.3361C7.02691 10.3396 6.64529 10.2662 6.28918 10.1204C5.93306 9.97464 5.60959 9.75929 5.33769 9.48698C5.0658 9.21467 4.85094 8.89088 4.70568 8.53454C4.56042 8.1782 4.48768 7.79646 4.49171 7.41168ZM11.6784 12.4988C11.7869 12.6073 11.9342 12.6683 12.0877 12.6683C12.2412 12.6683 12.3885 12.6073 12.497 12.4988C12.6056 12.3902 12.6666 12.243 12.6666 12.0895C12.6666 11.9359 12.6056 11.7887 12.497 11.6801L10.6873 9.86856C11.2247 9.16293 11.5124 8.29866 11.505 7.41168C11.5081 6.87348 11.4043 6.34003 11.1996 5.84227C10.9949 5.3445 10.6935 4.89233 10.3127 4.51197C9.93193 4.13161 9.47943 3.83064 8.98145 3.6265C8.48346 3.42236 7.9499 3.31913 7.41171 3.32279C6.87389 3.31972 6.34081 3.42339 5.84334 3.62779C5.34587 3.83219 4.89389 4.13326 4.51359 4.51356C4.13329 4.89386 3.83222 5.34583 3.62782 5.84331C3.42342 6.34078 3.31975 6.87386 3.32282 7.41168C3.31975 7.94949 3.42342 8.48257 3.62782 8.98005C3.83222 9.47752 4.13329 9.92949 4.51359 10.3098C4.89389 10.6901 5.34587 10.9912 5.84334 11.1956C6.34081 11.4 6.87389 11.5036 7.41171 11.5006C8.29819 11.5073 9.16178 11.2193 9.86682 10.6819L11.6784 12.4988Z"
                  fill="#F8F8F8"
                />
              </g>
              <defs>
                <clipPath id="clip0_224_17">
                  <rect width="16" height="16" fill="white" />
                </clipPath>
              </defs>
            </svg>
            <div class="notice">
              <p>재고 등록 시 해당 스토어에 대한</p>
              <p>&lt;바로픽업&gt; 이 활성화 됩니다.</p>
            </div>
          </div>
        </div>
        <div class="search_ct">
          <div class="text-field">
            <input type="text" id="search" placeholder="상품명을 입력해 주세요." />
          </div>
        </div>
      </div>
      <div class="product_table_head card">
        <div class="prd_img_area"><span>상품이미지</span></div>
        <div class="prd_name_area"><span>상품명</span></div>
        <div class="prd_quantity_area">
          <span>재고</span>
          <div class="notice_area">
            <div class="notice">
              <p>취소/반품/환불의 경우 재고가</p>
              <p>반환되지 않으니 유의하여 주세요.</p>
            </div>
          </div>
        </div>
      </div>
      <% for(var i = 0; i < inventory.length; i++){ %>
      <div class="product_area" data-product-name="<%- inventory[i].productDetails.name -%>">
        <div class="prd_id">
          <span>
            <%- inventory[i].productDetails.product_id %>
          </span>
        </div>
        <div class="prd_img_area">
          <img src="<%- inventory[i].productDetails.thumbnail %>" />
        </div>
        <div class="prd_name_area">
          <span><%- inventory[i].productDetails.name %></span>
        </div>
        <div class="prd_quantity_area">
          <div class="quantity_area">
            <input type="number" id="quantity_<%- i %>" value="<%- inventory[i].quantity %>" />
            <div
              class="submit"
              id="quantitySubmitBtn_<%- i %>"
              data-product-id="<%- inventory[i].productDetails.product_id %>"
              data-id="<%- i %>"
            >
              등록
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
    <% if (type === "c") { %>
    <div class="right card">
      <div class="description_ct">
        <div class="title">매장등록 설명서</div>
        <div class="description">
          <span class="circle">⦁</span>
          <span>매장명은 고객들에게 노출시킬 이름입니다.</span>
        </div>
        <div class="description">
          <span class="circle">⦁</span>
          <span class="">네이버맵에 등록되어 있는 주소만 사용이 가능합니다.</span>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<script src="/js/stores/store.js"></script>
