<link rel="stylesheet" type="text/css" href="/css/stores/store.css" />
<div>
  <input type="text" id="storeUserID" placeholder="id" value="dev" />
  <input type="text" id="storeUserPW" placeholder="password" value="as7315850!" />
  <div class="md-btn bg-primary" id="createStoreUserBtn">submit</div>
</div>
<% if (type === "c") { %>
<!-- 스토어 생성 페이지 일 때 -->
<div id="excelUploadModalBg">
  <div id="excelUploadModal">
    <div id="createWithExcelBtn">
      <label class="active-btn" for="excelUploadBtn">
        <img class="icon_upload icon-20" src="/icons/upload.svg" alt="엑셀 이미지" />
        Excel 파일 업로드
      </label>
      <input id="excelUploadBtn" name="file" type="file" enctype="multipart/form-data" />
    </div>
    <div class="description_ct">
      <div class="description">
        <span class="circle">⦁</span>
        파일 형식은 샘플 내용에 맞춰서 작성해야 합니다.
      </div>
    </div>
    <!-- <div class="switch_ct" id="useStatusCt">
      <div>
        <img class="eye_icon" src="/icons/eye.svg" alt="눈 이미지" />
        <span>노출여부</span>
        <div>
          <input class="switch_input" id="excelUseStatus" type="checkbox" />
          <label class="switch_label" for="excelUseStatus"></label>
        </div>
      </div>
    </div> -->
  </div>
</div>
<% } %>
<div id="content">
  <div class="content-head">
    <div class="area">
      <div class="page_title">
        <div class="title_ct">
          <span class="title">STORE MANAGEMENT</span>
          <span class="sub_title">매장 생성 페이지</span>
        </div>
      </div>
      <% if (type === "c") { %>
      <!-- 스토어 생성 페이지 일 때 -->
      <div class="excel_btn_area">
        <div id="excelBtnCt">
          <div class="create_btn active-btn" id="excelModalBtn">
            <img class="icon_excel mr-2" src="/icons/excel.svg" alt="" />
            엑셀로 생성
          </div>
        </div>
        <div id="smapleExcelDwldBtn">
          <div class="sample_dwld_btn active-btn">
            <img class="icon_excel mr-2" src="/icons/excel_sample.svg" alt="" />
            <a href="/files/excel_sample.xlsx" download="">샘플 다운로드</a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <div class="store_ct">
    <div class="left card">
      <div class="store" id="<%- store._id %>">
        <div>
          <div class="text-field">
            <input type="text" id="storeName" value="<%- store.name %>" />
            <label for="storeName">매장명</label>
          </div>
        </div>
        <div>
          <div class="text-field">
            <input type="text" id="storeAddr" value="<%- store.address %>" />
            <label for="storeAddr">매장주소</label>
          </div>
        </div>
        <div id="latLongCt" class="displaynone">
          <% if (type === "u") { %>
          <div class="text-field lat_field">
            <input type="text" id="latitude" value="<%- store.latitude %>" disabled />
            <label for="storeAddr">위도</label>
          </div>
          <div class="text-field long_field">
            <input type="text" id="longitude" value="<%- store.longitude %>" disabled />
            <label for="storeAddr">경도</label>
          </div>
          <% } %>
        </div>
        <!-- <div class="switch_ct">
          <div>
            <img class="eye_icon" src="/icons/eye.svg" alt="눈 이미지" />
            <span>노출여부</span>
            <% if (store.useStatus === true) { %>
            <input class="switch_input" type="checkbox" id="storeUseStatus" checked />
            <% } else { %>
            <input class="switch_input" type="checkbox" id="storeUseStatus" />
            <% } %>
            <label class="switch_label" for="storeUseStatus"></label>
          </div>
        </div> -->

        <div class="btn_area">
          <% if (store._id) { %>
          <div class="md-btn bg-danger" id="deleteBtn">삭제</div>
          <div class="md-btn bg-primary" id="submitBtn">
            <% if (type === "c") { %>
            <span>생성</span>
            <% } else { %>
            <span>수정</span>
            <% } %>
          </div>
          <% } else { %>
          <div class="md-btn bg-primary" id="submitBtn">추가</div>
          <% } %>
          <div class="md-btn bg-white" id="cancelBtn">
            <a href="/stores">취소</a>
          </div>
        </div>
      </div>
    </div>
    <% if (type === "u" && inventory.length > 0) { %>
    <div class="right product_ct card">
      <div class="title">
        <span>상품 재고 설정</span>
        <div class="faq_area">
          <div class="faq">
            <p>재고 등록 시 해당 스토어에 대한</p>
            <p>&lt;바로픽업&gt; 이 활성화 됩니다.</p>
          </div>
        </div>
      </div>
      <div class="product_table_head card">
        <div class="prd_id"><span>상품번호</span></div>
        <div class="prd_img_area"><span>상품이미지</span></div>
        <div class="prd_name_area"><span>상품명</span></div>
        <div class="prd_quantity_area">
          <span>재고</span>
          <div class="faq_area">
            <div class="faq">
              <p>취소/반품/환불의 경우 재고가</p>
              <p>반환되지 않으니 유의하여 주세요.</p>
            </div>
          </div>
        </div>
      </div>
      <% for(var i = 0; i < inventory.length; i++){ %>
      <div class="product_area card">
        <div class="prd_id">
          <span>
            <%- inventory[i].productDetails.product_id %>
          </span>
        </div>
        <div class="prd_img_area">
          <img src="<%- inventory[i].productDetails.thumbnail %>" />
        </div>
        <div class="prd_name_area">
          <span><%- inventory[i].productDetails.name %></span>
        </div>
        <div class="prd_quantity_area">
          <div class="quantity_area">
            <input type="number" id="quantity_<%- i %>" value="<%- inventory[i].quantity %>" />
            <div
              class="submit"
              id="quantitySubmitBtn_<%- i %>"
              data-product-id="<%- inventory[i].productDetails.product_id %>"
              data-id="<%- i %>"
            >
              등록
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
    <% if (type === "c") { %>
    <div class="right card">
      <div class="description_ct">
        <div class="title">매장등록 설명서</div>
        <div class="description">
          <span class="circle">⦁</span>
          <span>매장명은 고객들에게 노출시킬 이름입니다.</span>
        </div>
        <div class="description">
          <span class="circle">⦁</span>
          <span>노출여부 설정은 매장 생성 후 바로 지도에 노출여부를 결정합니다.</span>
        </div>
        <div class="description important">
          <span class="circle">⦁</span>
          <span class="important">네이버맵에 등록되어 있는 주소만 사용이 가능합니다.</span>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<script src="/js/stores/store.js"></script>
