<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Store Map</title>
    <link rel="stylesheet" type="text/css" href="/css/common/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/common/index.css" />

    <%- style %>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
      <%- include("./top_nav.ejs") %>
      <div id="content_ct">
        <%- include("./side_nav.ejs") %>
        <div id="content_area">
          <%- defineContent('body') %>
        </div>
      </div>
      <!-- 이 부분에 실제 컨텐츠가 들어갑니다 -->
    </body>
    <%- script %>
</html>
