<link rel="stylesheet" type="text/css" href="/css/widgets/styles.css" />
<link rel="stylesheet" type="text/css" href="/css/stores/store_pickup.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/monolith.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css" />

<div id="content">
  <div class="page_title">
    <div class="title_ct">
      <span class="title">WIDGET STYLE SETTING</span>
      <span class="sub_title">위젯 스타일 설정 페이지</span>
    </div>
  </div>
  <div class="save_alert" id="saveAlert">설정에 변경사항이 존재합니다.</div>
  <div class="widget_ct">
    <div class="left">
      <div class="card">
        <div class="renew_btn" id="renewBtn">
          <i class="xi-renew"></i>
        </div>
        <div class="section lg">
          <div class="ui_ct" id="uiCt">
            <div>
              <input class="full" name="uiType" type="radio" id="defaultUI" value="default"
              <% if (widget.ui === "default") { %>
              checked
              <% }
            %>
              />
              <label for="defaultUI">기본 UI</label>
            </div>
            <div>
              <input class="full" name="uiType" type="radio" id="distanceUI" value="distance"
              <% if (widget.ui === "distance") { %>
              checked
              <%
            } %>
              />
              <label for="distanceUI">거리형 UI</label>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="pickr_ct" id="mainColorPickrCt" data-color="<%- widget.uiColor %>">
            <span>UI 색상</span>
            <div class="" id="uiMainColor"></div>
          </div>
        </div>

        <div class="section_ct fold">
          <div class="section_title">검색 타입 스타일</div>
          <div class="section_content">
            <div class="section">
              <div class="pickr_ct" id="uiActiveTextColorCt" data-color="<%- widget.activeTextColor %>">
                <span>검색타입 글자(선택) 색상</span>
                <div class="" id="uiActiveTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiTextColorCt" data-color="<%- widget.textColor %>">
                <span>검색타입 글자 색상</span>
                <div class="" id="uiTextColor"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="section_ct fold" id="storeListSection">
          <div class="section_title">매장 리스트 스타일</div>
          <div class="section_content">
            <div class="section">
              <div class="pickr_ct" id="uiTitleTextColorCt" data-color="<%- widget.titleTextColor %>">
                <span>매장명 색상</span>
                <div class="" id="uiTitleTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiAddressTextColorCt" data-color="<%- widget.addressTextColor %>">
                <span>매장주소 색상</span>
                <div class="" id="uiAddressTextColor"></div>
              </div>
            </div>
            <div class="section <% if (widget.ui === 'default') { %> displaynone <% } %>">
              <div class="pickr_ct" id="uiDistanceTextColorCt" data-color="<%- widget.distanceTextColor %>">
                <span>거리 색상</span>
                <div class="" id="uiDistanceTextColor"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="section_ct fold">
          <div class="section_title">자동완성 검색어 스타일</div>
          <div class="section_content">
            <div class="section">
              <div class="pickr_ct" id="uiQuickSearchTitleTextColorCt" data-color="<%- widget.quickSearchTitleTextColor %>">
                <span>자동완성 글자(매장명) 색상</span>
                <div class="" id="uiQuickSearchTitleTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiQuickSearchDistanceTextColorCt" data-color="<%- widget.quickSearchDistanceTextColor %>">
                <span>자동완성 글자(거리) 색상</span>
                <div class="" id="uiQuickSearchDistanceTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiQuickSearchAddressTextColorCt" data-color="<%- widget.quickSearchAddressTextColor %>">
                <span>자동완성 글자(주소) 색상</span>
                <div class="" id="uiQuickSearchAddressTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiQuickSearchTitleTextHoverColorCt" data-color="<%- widget.quickSearchTitleTextHoverColor %>">
                <span>자동완성 마우스오버(매장명) 색상</span>
                <div class="" id="uiQuickSearchTitleTextHoverColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiQuickSearchDistanceTextHoverColorCt" data-color="<%- widget.quickSearchDistanceTextHoverColor %>">
                <span>자동완성 마우스오버(거리) 색상</span>
                <div class="" id="uiQuickSearchDistanceTextHoverColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiQuickSearchAddressTextHoverColorCt" data-color="<%- widget.quickSearchAddressTextHoverColor %>">
                <span>자동완성 마우스오버(주소) 색상</span>
                <div class="" id="uiQuickSearchAddressTextHoverColor"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="section_ct fold" id="mapStyleSection">
          <div class="section_title">지도 스타일</div>
          <div class="section_content">
            <div class="section">
              <div class="pickr_ct" id="uiMapTitleTextColorCt" data-color="<%- widget.mapTitleTextColor %>">
                <span>매장명 색상</span>
                <div class="" id="uiMapTitleTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiMapAddressTextColorCt" data-color="<%- widget.mapAddressTextColor %>">
                <span>매장주소 색상</span>
                <div class="" id="uiMapAddressTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiMapRenewBtnColorCt" data-color="<%- widget.mapRenewBtnColor %>">
                <span>매장 새로고침 버튼 색상</span>
                <div class="" id="uiMapRenewBtnColor"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="section_ct fold">
          <div class="section_title">지도 오버레이 스타일</div>
          <div class="section_content">
            <div class="section">
              <div class="pickr_ct" id="uiOverlayTitleTextColorCt" data-color="<%- widget.overlayTitleTextColor %>">
                <span>매장명 색상</span>
                <div class="" id="uiOverlayTitleTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiOverlayAddressTextColorCt" data-color="<%- widget.overlayAddressTextColor %>">
                <span>매장주소 색상</span>
                <div class="" id="uiOverlayAddressTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiOverlayCloseBtnTextColorCt" data-color="<%- widget.overlayCloseBtnTextColor %>">
                <span>닫기 글자 색상</span>
                <div class="" id="uiOverlayCloseBtnTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiOverlayPickupBtnTextColorCt" data-color="<%- widget.overlayPickupBtnTextColor %>">
                <span>여기서픽업 글자 색상</span>
                <div class="" id="uiOverlayPickupBtnTextColor"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn_area">
          <div class="md-btn md-btn bg-success" id="submitBtn">저장</div>
        </div>
      </div>
      <div class="marker_img_area card">
        <div class="renew_btn" id="markerInitBtn">
          <i class="xi-renew"></i>
        </div>
        <div class="marker_img_upload_area">
          <div class="marker_img_upload_box">
            <div class="title">기본마커</div>
            <input type="file" name="image" id="markerUpload" data-marker-type="normalMarker" />
            <label for="markerUpload">
              <img src="<%- marker.pickupMarker %>" alt="" />
            </label>
          </div>
          <div class="marker_img_upload_box">
            <div class="title">바로픽업 마커</div>
            <input type="file" name="image" id="nowMarkerUpload" data-marker-type="nowMarker" />
            <label for="nowMarkerUpload">
              <img src="<%- marker.nowPickupMarker %>" alt="" />
            </label>
          </div>
        </div>
        <div class="marker_submit_box">
          <div class="md-btn md-btn bg-success" id="markerSubmit">마커 설정</div>
        </div>
      </div>
    </div>
    <div class="right on" id="pickupStore">
      <div id="uiMainColorPreview">
        <div class="search_store_pkup_ct">
          <div class="head">
            <div
              id="typeSearchStore"
              class="search_type on"
              style="background-color: <%- widget.uiColor %>; color: <%- widget.activeTextColor %>"
            >
              매장 검색
            </div>
            <div id="typeSearchDong" class="search_type" style="color: <%- widget.textColor %>">동단위 검색</div>
          </div>
          <div class="search_box">
            <input id="address" type="text" placeholder="검색할 주소" value="" />
            <i id="submit" class="xi-search" style="color: <%- widget.uiColor %>"></i>
            <div id="searchListCt" style="display: block; height: 90px">
              <div class="store" data-store-id="6498fe71830c17336c50d863">
                <div class="store_name">
                  <h1 style="color: <%- widget.quickSearchTitleTextColor %>">카페24</h1>
                </div>
                <div class="store_addr">
                  <span class="distance" style="color: <%- widget.quickSearchDistanceTextColor %>">1km</span>
                  <span class="addr" style="color: <%- widget.quickSearchAddressTextColor %>">서울특별시 동작구 보라매로5길 15</span>
                </div>
              </div>
            </div>
          </div>
          <div class="store_list_ct on">
            <div class="swiper-container swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden">
              <div class="store-info-container swiper-wrapper">
                <div class="swiper-slide swiper-slide-visible swiper-slide-active">
                  <% for (var i = 1; i < 6; i++) { %>
                  <div class="store">
                    <div class="left">
                      <h1 class="store_name" style="font-size: 16px; padding-bottom: 6px; color: <%- widget.titleTextColor %>">
                        테스트 매장_
                        <%- i %>
                      </h1>
                      <div class="addr_ct">
                        <span
                          class="distance <% if (widget.ui === 'default') { %> displaynone <% } %>"
                          style="color: <%- widget.distanceTextColor %>"
                        >
                          <%- i %>
                          Km
                        </span>
                        <span class="address" style="color: <%- widget.addressTextColor %>">
                          테스트 주소_
                          <%- i %>
                        </span>
                        <img
                          class="copy_addr"
                          src="https://oneulwineshop.cafe24.com/web/icons/copy.svg"
                          style="width: 15px; height: 15px; margin-left: 5px; cursor: pointer"
                        />
                      </div>
                    </div>
                    <div class="right">
                      <svg
                        style="fill: <%- widget.uiColor%>"
                        class="store_pick_btn"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 30 30"
                        width="30"
                        height="30"
                      >
                        <g>
                          <path
                            d="M15,0C6.73,0,0,6.73,0,15s6.73,15,15,15,15-6.73,15-15S23.27,0,15,0Zm0,27.27c-6.77,0-12.27-5.51-12.27-12.27S8.23,2.73,15,2.73s12.27,5.51,12.27,12.27-5.51,12.27-12.27,12.27Z"
                          ></path>
                          <path
                            d="M20.62,9.7l-7.71,7.71-3.54-3.54c-.53-.53-1.4-.53-1.93,0-.53,.53-.53,1.4,0,1.93l4.5,4.5c.26,.26,.6,.4,.96,.4h0c.36,0,.71-.14,.96-.4l8.68-8.68c.53-.53,.53-1.4,0-1.93-.53-.53-1.4-.53-1.93,0Z"
                          ></path>
                        </g>
                      </svg>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination" style="margin-bottom: 0px">
            <% for (var i = 1; i <= 5; i++) { %>
            <div
              class="page <% if (i === 1) { %> active <% } %>"
              style="<% if (i === 1) { %> background-color: <%- widget.uiColor %><% } %>"
            >
              <a href="#"><%- i %></a>
            </div>
            <% } %>
          </div>
        </div>
        <div id="mapTitle" style="display: block; background-color: <%- widget.uiColor %>">
          <div class="title">
            <div class="selected_store_name" style="color: <%- widget.mapTitleTextColor %>">
              <span class="pickup_store">픽업 매장</span>
              <span id="storeName">카페24</span>
              <div class="map_renew_btn" id="mapRenewBtn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="16"
                  viewBox="0 0 20 16"
                  style="fill: <%- widget.mapRenewBtnColor %>"
                >
                  <g clip-path="url(#clip0_164_201)">
                    <path
                      d="M2.58741 3.73332C2.48595 3.54666 2.3084 3.54666 2.20694 3.73332L0.0509449 7.65332C-0.0505135 7.83999 0.0382626 7.99999 0.24118 7.99999H4.55316C4.75608 7.99999 4.84486 7.83999 4.7434 7.65332L2.58741 3.73332Z"
                    />
                    <path
                      d="M17.8062 12.2667C17.7047 12.4533 17.5271 12.4533 17.4257 12.2667L15.2697 8.34667C15.1682 8.16 15.257 8 15.4599 8H19.7719C19.9748 8 20.0636 8.16 19.9621 8.34667L17.8062 12.2667Z"
                    />
                    <path
                      d="M10.0064 14.7734C6.45531 14.7734 3.56374 11.7334 3.56374 8.00002C3.56374 7.32002 3.69057 6.68002 3.86812 6.06669L3.0945 4.66669C2.65062 5.68002 2.39697 6.81335 2.39697 8.00002C2.39697 12.4134 5.80851 16 10.0064 16C11.0336 16 11.9975 15.7867 12.8979 15.4L12.3019 14.3067C11.5916 14.6 10.818 14.7734 10.019 14.7734H10.0064Z"
                    />
                    <path
                      d="M17.6159 8C17.6159 3.58667 14.2044 0 10.0065 0C9.06806 0 8.16761 0.186667 7.34326 0.52L7.95201 1.62667C8.59881 1.38667 9.28365 1.24 10.0192 1.24C13.5703 1.24 16.4618 4.28 16.4618 8.01333C16.4618 8.69333 16.335 9.33333 16.1575 9.94667L16.9311 11.3467C17.375 10.3333 17.6286 9.2 17.6286 8.01333L17.6159 8Z"
                    />
                  </g>
                </svg>
              </div>
            </div>
            <div>
              <span id="storeAddress" style="color: <%- widget.mapAddressTitleTextColor %>">서울특별시 동작구 보라매로5길 15</span>
            </div>
          </div>
        </div>
        <div class="sample_map_ct" id="map">
          <img src="/imgs/sample_map.png" alt="맵 이미지" />
          <div class="iw_inner" style="border-color: <%- widget.uiColor %>">
            <div class="content">
              <h3 id="overlayTitle" style="color: <%- widget.overlayTitleTextColor %>; font-size: 1rem; margin: 0">카페 24</h3>
              <p
                id="overlayAddress"
                style="color: <%- widget.overlayAddressTextColor %>; margin-top: 5px; margin-bottom: 0; font-size: 0.875rem"
              >
                서울특별시 동작구 보라매로5길 15 전문건설회관
              </p>
            </div>
            <div class="btn-box">
              <div class="close-btn" style="border-top: 1px solid <%- widget.uiColor %>; color: <%- widget.overlayCloseBtnTextColor %>">
                닫기
              </div>
              <div
                class="pickup-btn"
                style="
                  background-color: <%- widget.uiColor %>;
                  border-color: <%- widget.uiColor %>;
                  color: <%- widget.overlayPickupBtnTextColor %>;
                "
              >
                여기서픽업
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
<script src="/js/widgets/styles.js"></script>
