<link rel="stylesheet" type="text/css" href="/css/widgets/styles.css" />
<link rel="stylesheet" type="text/css" href="/css/stores/store_pickup.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/monolith.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css" />

<div id="content">
  <div class="page_title">
    <div class="title_ct">
      <span class="title">WIDGET STYLE SETTING</span>
      <span class="sub_title">위젯 스타일 설정 페이지</span>
    </div>
  </div>
  <div class="save_alert" id="saveAlert">설정에 변경사항이 존재합니다.</div>
  <div class="widget_ct">
    <div class="left">
      <div class="card">
        <div class="renew_btn" id="renewBtn">
          <i class="xi-renew"></i>
        </div>
        <div class="section lg">
          <div class="ui_ct" id="uiCt">
            <div>
              <input class="full" name="uiType" type="radio" id="defaultUI" value="default"
              <% if (widget.ui === "default") { %>
              checked
              <% }
            %>
              />
              <label for="defaultUI">기본 UI</label>
            </div>
            <div>
              <input class="full" name="uiType" type="radio" id="distanceUI" value="distance"
              <% if (widget.ui === "distance") { %>
              checked
              <%
            } %>
              />
              <label for="distanceUI">거리형 UI</label>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="pickr_ct" id="mainColorPickrCt" data-color="<%- widget.uiColor %>">
            <span>UI 색상</span>
            <div class="" id="uiMainColor"></div>
          </div>
        </div>

        <div class="section_ct">
          <div class="section_title">검색 타입 스타일</div>
          <div class="section_content">
            <div class="section">
              <div class="pickr_ct" id="uiActiveTextColorCt" data-color="<%- widget.activeTextColor %>">
                <span>검색타입 글자(선택) 색상</span>
                <div class="" id="uiActiveTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiTextColorCt" data-color="<%- widget.textColor %>">
                <span>검색타입 글자 색상</span>
                <div class="" id="uiTextColor"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="section_ct">
          <div class="section_title" id="storeListSection">매장 리스트 스타일</div>
          <div class="section_content">
            <div class="section">
              <div class="pickr_ct" id="uiTitleTextColorCt" data-color="<%- widget.titleTextColor %>">
                <span>매장명 색상</span>
                <div class="" id="uiTitleTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiAddressTextColorCt" data-color="<%- widget.addressTextColor %>">
                <span>매장주소 색상</span>
                <div class="" id="uiAddressTextColor"></div>
              </div>
            </div>
            <div class="section <% if (widget.ui === 'default') { %> displaynone <% } %>">
              <div class="pickr_ct" id="uiDistanceTextColorCt" data-color="<%- widget.distanceTextColor %>">
                <span>거리 색상</span>
                <div class="" id="uiDistanceTextColor"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="section_ct">
          <div class="section_title">자동완성 검색어 스타일</div>
          <div class="section_content">
            <div class="section">
              <div class="pickr_ct" id="uiQuickSearchTitleTextColorCt" data-color="<%- widget.quickSearchTitleTextColor %>">
                <span>자동완성 글자(매장명) 색상</span>
                <div class="" id="uiQuickSearchTitleTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiQuickSearchDistanceTextColorCt" data-color="<%- widget.quickSearchDistanceTextColor %>">
                <span>자동완성 글자(거리) 색상</span>
                <div class="" id="uiQuickSearchDistanceTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiQuickSearchAddressTextColorCt" data-color="<%- widget.quickSearchAddressTextColor %>">
                <span>자동완성 글자(주소) 색상</span>
                <div class="" id="uiQuickSearchAddressTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiQuickSearchTitleTextHoverColorCt" data-color="<%- widget.quickSearchTitleTextHoverColor %>">
                <span>자동완성 마우스오버(매장명) 색상</span>
                <div class="" id="uiQuickSearchTitleTextHoverColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiQuickSearchDistanceTextHoverColorCt" data-color="<%- widget.quickSearchDistanceTextHoverColor %>">
                <span>자동완성 마우스오버(거리) 색상</span>
                <div class="" id="uiQuickSearchDistanceTextHoverColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiQuickSearchAddressTextHoverColorCt" data-color="<%- widget.quickSearchAddressTextHoverColor %>">
                <span>자동완성 마우스오버(주소) 색상</span>
                <div class="" id="uiQuickSearchAddressTextHoverColor"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="section_ct">
          <div class="section_title">지도 스타일</div>
          <div class="section_content">
            <div class="section">
              <div class="pickr_ct" id="uiMapTitleTextColorCt" data-color="<%- widget.mapTitleTextColor %>">
                <span>매장명 색상</span>
                <div class="" id="uiMapTitleTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiMapAddressTextColorCt" data-color="<%- widget.mapAddressTextColor %>">
                <span>매장주소 색상</span>
                <div class="" id="uiMapAddressTextColor"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="section_ct">
          <div class="section_title">지도 오버레이 스타일</div>
          <div class="section_content">
            <div class="section">
              <div class="pickr_ct" id="uiOverlayTitleTextColorCt" data-color="<%- widget.overlayTitleTextColor %>">
                <span>매장명 색상</span>
                <div class="" id="uiOverlayTitleTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiOverlayAddressTextColorCt" data-color="<%- widget.overlayAddressTextColor %>">
                <span>매장주소 색상</span>
                <div class="" id="uiOverlayAddressTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiOverlayCloseBtnTextColorCt" data-color="<%- widget.overlayCloseBtnTextColor %>">
                <span>닫기 글자 색상</span>
                <div class="" id="uiOverlayCloseBtnTextColor"></div>
              </div>
            </div>
            <div class="section">
              <div class="pickr_ct" id="uiOverlayPickupBtnTextColorCt" data-color="<%- widget.overlayPickupBtnTextColor %>">
                <span>여기서픽업 글자 색상</span>
                <div class="" id="uiOverlayPickupBtnTextColor"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn_area">
          <div class="md-btn md-btn bg-success" id="submitBtn">저장</div>
        </div>
      </div>
      <div class="marker_img_area card">
        <div class="renew_btn" id="markerInitBtn">
          <i class="xi-renew"></i>
        </div>
        <div class="marker_img_upload_area">
          <div class="marker_img_upload_box">
            <div class="title">기본마커</div>
            <input type="file" name="image" id="markerUpload" data-marker-type="normalMarker" />
            <label for="markerUpload">
              <img src="<%- marker.pickupMarker %>" alt="" />
            </label>
          </div>
          <div class="marker_img_upload_box">
            <div class="title">바로픽업 마커</div>
            <input type="file" name="image" id="nowMarkerUpload" data-marker-type="nowMarker" />
            <label for="nowMarkerUpload">
              <img src="<%- marker.nowPickupMarker %>" alt="" />
            </label>
          </div>
        </div>
        <div class="marker_submit_box">
          <div class="md-btn md-btn bg-success" id="markerSubmit">마커 설정</div>
        </div>
      </div>
    </div>
    <div class="right on" id="pickupStore">
      <div id="uiMainColorPreview">
        <div class="search_store_pkup_ct">
          <div class="head">
            <div
              id="typeSearchStore"
              class="search_type on"
              style="background-color: <%- widget.uiColor %>; color: <%- widget.activeTextColor %>"
            >
              매장 검색
            </div>
            <div id="typeSearchDong" class="search_type" style="color: <%- widget.textColor %>">동단위 검색</div>
          </div>
          <div class="search_box">
            <input id="address" type="text" placeholder="검색할 주소" value="" />
            <i id="submit" class="xi-search" style="color: <%- widget.uiColor %>"></i>
            <div id="searchListCt" style="display: block; height: 90px">
              <div class="store" data-store-id="6498fe71830c17336c50d863">
                <div class="store_name">
                  <h1 style="color: <%- widget.quickSearchTitleTextColor %>">카페24</h1>
                </div>
                <div class="store_addr">
                  <span class="distance" style="color: <%- widget.quickSearchDistanceTextColor %>">1km</span>
                  <span class="addr" style="color: <%- widget.quickSearchAddressTextColor %>">서울특별시 동작구 보라매로5길 15</span>
                </div>
              </div>
            </div>
          </div>
          <div class="store_list_ct on">
            <div class="swiper-container swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden">
              <div class="store-info-container swiper-wrapper">
                <div class="swiper-slide swiper-slide-visible swiper-slide-active">
                  <% for (var i = 1; i < 6; i++) { %>
                  <div class="store">
                    <div class="left">
                      <h1 class="store_name" style="font-size: 16px; padding-bottom: 6px; color: <%- widget.titleTextColor %>">
                        테스트 매장_
                        <%- i %>
                      </h1>
                      <div class="addr_ct">
                        <span
                          class="distance <% if (widget.ui === 'default') { %> displaynone <% } %>"
                          style="color: <%- widget.distanceTextColor %>"
                        >
                          <%- i %>
                          Km
                        </span>
                        <span class="address" style="color: <%- widget.addressTextColor %>">
                          테스트 주소_
                          <%- i %>
                        </span>
                        <img
                          class="copy_addr"
                          src="https://oneulwineshop.cafe24.com/web/icons/copy.svg"
                          style="width: 15px; height: 15px; margin-left: 5px; cursor: pointer"
                        />
                      </div>
                    </div>
                    <div class="right">
                      <svg
                        style="fill: <%- widget.uiColor%>"
                        class="store_pick_btn"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 30 30"
                        width="30"
                        height="30"
                      >
                        <g>
                          <path
                            d="M15,0C6.73,0,0,6.73,0,15s6.73,15,15,15,15-6.73,15-15S23.27,0,15,0Zm0,27.27c-6.77,0-12.27-5.51-12.27-12.27S8.23,2.73,15,2.73s12.27,5.51,12.27,12.27-5.51,12.27-12.27,12.27Z"
                          ></path>
                          <path
                            d="M20.62,9.7l-7.71,7.71-3.54-3.54c-.53-.53-1.4-.53-1.93,0-.53,.53-.53,1.4,0,1.93l4.5,4.5c.26,.26,.6,.4,.96,.4h0c.36,0,.71-.14,.96-.4l8.68-8.68c.53-.53,.53-1.4,0-1.93-.53-.53-1.4-.53-1.93,0Z"
                          ></path>
                        </g>
                      </svg>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination" style="margin-bottom: 0px">
            <% for (var i = 1; i <= 5; i++) { %>
            <div
              class="page <% if (i === 1) { %> active <% } %>"
              style="<% if (i === 1) { %> background-color: <%- widget.uiColor %><% } %>"
            >
              <a href="#"><%- i %></a>
            </div>
            <% } %>
          </div>
        </div>
        <div id="mapTitle" style="display: block; background-color: <%- widget.uiColor %>">
          <div class="title">
            <div class="selected_store_name" style="color: <%- widget.mapTitleTextColor %>">
              <span class="pickup_store">픽업 매장</span>
              <span id="storeName">카페24</span>
            </div>
            <div>
              <span id="storeAddress" style="color: <%- widget.mapAddressTitleTextColor %>">서울특별시 동작구 보라매로5길 15</span>
            </div>
          </div>
        </div>
        <div class="sample_map_ct" id="map">
          <img src="/imgs/sample_map.png" alt="맵 이미지" />
          <div class="iw_inner" style="border-color: <%- widget.uiColor %>">
            <div class="content">
              <h3 id="overlayTitle" style="color: <%- widget.overlayTitleTextColor %>; font-size: 1rem; margin: 0">카페 24</h3>
              <p
                id="overlayAddress"
                style="color: <%- widget.overlayAddressTextColor %>; margin-top: 5px; margin-bottom: 0; font-size: 0.875rem"
              >
                서울특별시 동작구 보라매로5길 15 전문건설회관
              </p>
            </div>
            <div class="btn-box">
              <div class="close-btn" style="border-top: 1px solid <%- widget.uiColor %>; color: <%- widget.overlayCloseBtnTextColor %>">
                닫기
              </div>
              <div
                class="pickup-btn"
                style="
                  background-color: <%- widget.uiColor %>;
                  border-color: <%- widget.uiColor %>;
                  color: <%- widget.overlayPickupBtnTextColor %>;
                "
              >
                여기서픽업
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
<script src="/js/widgets/styles.js"></script>
