<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/common/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/common/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/manager/stores/store.css" />
    <link rel="stylesheet" type="text/css" href="/css/stores/store.css" />
    <script src="/js/common/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body id="manager">
    <div id="storeId" data-store-id="<%- storeId -%>"></div>
    <% if (inventory.length > 0 && inventory[0].storeName) { %>
    <div class="content_ct">
      <div class="order_detail_modal_area displaynone" id="orderDetailModalArea">
        <div class="order_detail_modal">
          <div class="order_detail_haed">
            <div class="order_id">주문번호 20231205-0000035</div>
            <div class="order_status_area">
              <div>
                <div class="order_status_card">
                  <div class="title">주문자</div>
                  <div class="order_status_content" id="buyer">김형섭</div>
                </div>
                <div class="order_status_card">
                  <div class="title">주문 방법</div>
                  <div class="order_status_content" id="paymentMethod">무통장 입금</div>
                </div>
                <div class="order_status_card">
                  <div class="title">주문 일자</div>
                  <div class="order_status_content" id="orderDate">2023.12.05</div>
                </div>
              </div>
              <div>
                <div class="grid_container">
                  <div class="c1">
                    <div class="order_status_card" data-status="입금전">
                      <div class="title">입금상태</div>
                      <div class="order_status_content" id="depositStatus">입금전</div>
                    </div>
                  </div>
                  <div class="c2">
                    <div class="order_status_card" data-status="정상">
                      <div class="title">주문상태</div>
                      <div class="order_status_content" id="orderStatus">정상</div>
                    </div>
                  </div>
                  <div class="c3">
                    <div class="order_status_card displaynone" id="errorCard">
                      <div class="title">에러 메시지</div>
                      <div class="order_status_content" id="errMsg"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="order_detail_content">
            <div class="table_head">
              <div class="product_id">상품 번호</div>
              <div class="product_image">상품 이미지</div>
              <div class="product_name">상품 이름</div>
              <div class="product_options">상품 옵션</div>
              <div class="product_order_quantity">구매 수량</div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="page_title">
          <span class="title"><%- inventory[0].storeName -%></span>
          <div id="logoutBtn">LOGOUT</div>
        </div>
        <div class="text-field">
          <input class="" name="search" type="text" id="search" placeholder="상품명을 입력해 주세요" />
          <label for="search">검색</label>
        </div>
        <div class="product_content card">
          <% for(var i = 0; i < inventory.length; i++){ %>
          <div class="product_area card" data-product-name="<%- inventory[i].productDetails.name -%>">
            <div class="prd_img_area">
              <img src="<%- inventory[i].productDetails.thumbnail %>" data-product-no="<%- inventory[i].productDetails.product_id -%>" />
            </div>
            <div class="prd_name_area">
              <span><%- inventory[i].productDetails.name %></span>
            </div>
            <div class="prd_quantity_area">
              <div class="quantity_area">
                <input type="number" id="quantity_<%- i %>" value="<%- inventory[i].quantity %>" />
                <div
                  class="submit"
                  id="quantitySubmitBtn_<%- i %>"
                  data-product-id="<%- inventory[i].productDetails.product_id %>"
                  data-id="<%- i %>"
                >
                  등록
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <div class="order_search_area">
        <div class="order_search_ct card">
          <div class="title">주문번호 검색</div>
          <div class="text-field">
            <input type="text" id="orderId" placeholder="20231205-0000035" value="20231205-0000035" />
            <label for="orderId" name="order"></label>
            <div class="full-btn" id="orderSearchBtn">검색</div>
          </div>
        </div>
      </div>
    </div>
    <%  } %>
    <script src="/js/manager/stores/store.js"></script>
  </body>
</html>
