<link rel="stylesheet" type="text/css" href="/css/order/order.css" />

<div class="order_area">
  <div class="page_title">
    <div class="title_ct">
      <span class="title">STORE MANAGEMENT</span>
      <span class="sub_title">결제하기</span>
    </div>
  </div>
  <div class="payment_area">
    <% for (var i = 0; i < products.length; i++){ %>
    <div class="card <% if(products[i].name === '30,000 POINT') { %> recommend <% } %>">
      <div class="product_name"><%- products[i].name %></div>
      <div class="section">
        <% if (products[i].origin_price) { %>
        <div class="origin_price">
          <div class="price">
            <%- products[i].origin_price.toLocaleString("Ko-kr") %>
            원
          </div>
          <div class="disc">
            <%- products[i].discount %>
            %
          </div>
        </div>
        <% } %>
        <div class="sell_price price">
          <%- products[i].sell_price.toLocaleString("Ko-kr") %>
          원
        </div>
        <div
          class="order_btn"
          data-product-id="<%- products[i]._id %>"
          data-product-price="<%- products[i].sell_price %>"
          data-product-name="<%- products[i].name %>"
        >
          결제하기
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="notice card">
    <p>
      사용자가
      <span class="c-accent-clear bold">지도를 1회 호출</span>
      할 때마다
      <span class="c-accent-clear bold">1 POINT 씩 차감 됩니다.</span>
    </p>
    <p>결제가 완료되었지만 포인트가 충전되지 않은 경우 utilityapp@naver.com로 문의주세요.</p>
  </div>
</div>

<script src="/js/order/order.js" defer></script>
